[user "work"]
	name = Thuy Le
	email = xxx
	signingkey = xxx
[user "heroku"]
	name = Thuy Le
	email = xxx
	signingkey = xxx

[url "ssh://git@heroku.com/"]
  insteadOf = https://git.heroku.com/
[user "private"]
	name = Thuy Le
	email = xxx
	signingkey = 2900A8122C3A6B72

[push]
  default = simple
[alias]
	br = branch
	co = checkout
	st = status
	ci = commit --verbose

	remo = remote -v
	brl = branch
	bra = branch -a
	brr = branch -r
	brm = branch --merged
	lg = log --pretty=format:'%Cred%h%Creset - %Cgreen(%cr)%Creset%C(yellow)%d%Creset %s %C(bold blue)<%an>%Creset' --abbrev-commit --graph
	hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short

	dc = diff --cached --color
	unstage = reset HEAD --
	last = log -1 HEAD
	visual = !gitk
[credential]
	helper = osxkeychain
[core]
  editor = vim
	excludesfile = /Users/thuyle/.gitignore_global
	precomposeUnicode = false
	pager = less
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[color]
	ui = true
	branch = true
	diff = true
	interactive = true
	status = true
[log]
	decorate = true
[commit]
	gpgsign = true
  template = ~/.gitmessage
[color "status"]
	changed = cyan normal bold
	untracked = cyan normal bold
[color "diff"]
	old = red normal bold
	new = green normal bold
[merge]
	tool = code
